
<div class="ui secondary vertical menu">
    <a class="item">
	Company Profile
    </a>
    <a class="item">
	Active Jobs
    </a>
    <%= link_to 'Edit profile', edit_employer_registration_path, class: 'item' %>
</div>
