<div class="ui floating pointing labeled icon dropdown" >
    <%= (current_employer.firstname  + ' ' + current_employer.lastname).titleize %>
    <i class="angle down icon"></i>
    <div class="menu">
	<a class="item">
	    <i class="violet mail outline icon"></i>
	    Email settings
	</a>
	<%= link_to dashboard_index_path, class: "item" do %>
	    <i class="violet dashboard icon"></i> Dashboard
	<% end %>
	<a class="item">
	    <i class="violet info circle icon"></i> 
	    Notification settings
	</a>
	<%= link_to edit_employer_registration_path, class: 'item' do %>
	    <i class="violet setting icon"></i> Profile
	<% end %>
	<%= link_to destroy_employer_session_path, method: :delete, class: 'item' do %>
	    <i class="violet sign out icon"></i> Logout
	<% end %>
	
    </div>    
</div>
