<div class="ui segment">

    <h1> Welcome to Jobtest </h1>


    <p> We provide you with the best talenet in the world </p> 


     <h1> Welcome to Jobtest </h1>


    <p> We provide you with the best talenet in the world </p> 

     <h1> Welcome to Jobtest </h1>


    <p> We provide you with the best talenet in the world </p> 

</div>

<%= render 'layouts/footernav' %>
