<div class="ui container">
    <div class="ui text menu">
	<%= link_to  image_tag("logo.png") ,  root_path, class: 'item' %>
	
	<div class="right item">
	    <% if employer_signed_in? %>
		<div class="item">
		    <%= render 'dashboard/employer_dropdown' %>
		</div>
	    <% else %>
		<%= link_to "Login", new_employer_session_path, class: 'item'  %>
		<div class="item">
		    <%= link_to raw('<i class="unlock alternate icon"></i>') + "Sign up", new_employer_registration_path, class: "ui small basic primary button"%> 

		</div>
	    <% end  %>    
	</div>
    </div>
</div>

