

<div class="ui basic segment">
    <div class="ui four column grid">
	<div class="column">
	    <div class="ui green  segment" style="border-radius: 0px;">
		<div class="ui red inverted horizontal statistic">
		    <div class="value">
			<%= "3" %>
		    </div>
		    <div class="label" style="color: green;">
			<%= 'applications' %>
		    </div>
		</div>
	    </div>
	</div>
	<div class="column">
	    <div class="ui orange segment">
		<p> Hello world </p>
	    </div>
	</div>
	<div class="column">
	    <div class="ui blue segment">
		<p> Hello world </p>
	    </div>
	</div>
	<div class="column">
	    <div class="ui red segment">
		<p> Hello world </p>
	    </div>
	</div>
    </div>
</div>


<div class="ui container"> 

        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected



        Unable to create Debug Bridge:
        Unable to start adb server: Unable to detect adb version, adb output:
        /home/ajay/Developement/Sdk/platform-tools/adb: 1: /home/ajay/Developement/Sdk/platform-tools/adb: Syntax error: ")" unexpected

</div>
