<div class="ui grid">
  <div class="twelve wide stretched column">
    <div class="ui segment">
      This is an stretched grid column. This segment will always match the tab height
    </div>
  </div>
  <div class="four wide column">
    <div class="ui vertical fluid right tabular menu">
      <a class="active item">
        Rejected
      </a>
      <a class="item">
        Accepted 
      </a>
      <a class="item">
        Not Now
      </a>
      <a class="item">
        Hired
      </a>
    </div>
  </div>
</div>
