<style type="text/css">
 .ui.card
 {
     border-radius: 0px;
 }
</style>

<div class="ui three stackable cards">

    <a class="ui raised card" href="#">
	<div class="content">
	    <div class="header">Project Timeline</div>
	</div>
	<div class="content">
	    <center>
	    <div class="ui statistic">
		<div class="value">
		    5,550
		</div>
	    </div>
	    </center>
	</div>
	<div class="extra content">
	    Hello world  
	</div>
    </a>
    
    <a class="ui raised card ">
	<div class="ui statistic">
	    <div class="value">
		5,550
	    </div>
	</div>
    </a>

    <div class="ui card">
	<div class="ui statistic">
	    <div class="value">
		5,550
	    </div>
	</div>
    </div>



    <a class="ui raised  card" href="#">
	<div class="content">
	    <div class="header">Project Timeline</div>
	</div>
	<div class="content">
	    <center>
		<div class="ui statistic">
		    <div class="value">
			5,550
		    </div>
		</div>
	    </center>
	</div>
	<div class="extra content">
	    Hello world  
	</div>
    </a>

    <a class="ui raised  card" href="#">
	<div class="content">
	    <div class="header">Project Timeline</div>
	</div>
	<div class="content">
	    <center>
		<div class="ui statistic">
		    <div class="value">
			5,550
		    </div>
		</div>
	    </center>
	</div>
	<div class="extra content">
	    Hello world  
	</div>
    </a>

    <a class="ui raised  card" href="#">
	<div class="content">
	    <div class="header">Project Timeline</div>
	</div>
	<div class="content">
	    <center>
		<div class="ui statistic">
		    <div class="value">
			5,550
		    </div>
		</div>
	    </center>
	</div>
	<div class="extra content">
	    Hello world  
	</div>
    </a>
    
</div>

