

<div class="ui basic segment">
    <div class="ui four column grid">
	<div class="column">
	    <div class="ui green  segment" style="border-radius: 0px;">
		<div class="ui red inverted horizontal statistic">
		    <div class="value">
			27
		    </div>
		    <div class="label" style="color: green;">
			viewed
		    </div>
		</div>
	    </div>
	</div>
	<div class="column">
	    <div class="ui orange segment">
		<p> Hello world </p>
	    </div>
	</div>
	<div class="column">
	    <div class="ui blue segment">
		<p> Hello world </p>
	    </div>
	</div>
	<div class="column">
	    <div class="ui red segment">
		<p> Hello world </p>
	    </div>
	</div>
    </div>
</div>
