<div class="ui compact  dropdown" >
    Report <i class="angle down icon"></i>
    <div class="menu">
      <div class="item"> Offensive</div>
      <div class="item"> Inappropiate</div>
      <div class="item"> unacceptable</div>
    </div>
</div>
