<table class="ui celled table">
    <thead>
	<tr><th colspan="3">
	    <div h3 class="ui violet header"> My Application History </div>
	    <div class="ui hidden divider"></div>
	    <div class="ui fluid icon input">
		<input class="fluid prompt" type="text" placeholder="Search Jobs">
		<div class="results"></div>
	    </div>
	</th>
	</tr>
    </thead>
    <thead>
	<tr>
	    <th>Job Title</th>
	    <th>Date</th>
	    <th>Company Name</th>
	</tr>
    </thead>
    <tbody>
	<% @application_history.each do |item| %>
	<tr>
	    <td class="collapsing">
		<%= link_to item.job.title, job_url(item.job) %>
	    </td>
	    <td> <%= time_ago_in_words(item.created_at) + ' ago (' + item.created_at.strftime("%d %b, %y")  + ')'%>  </td>
	    <td class="right aligned collapsing"> Google </td>
	</tr>
	<% end %>
    </tbody> 
    <div style="float: right">
	<%= paginate @application_history %>
    </div>
</table>


<div style="float: right">
    <%= paginate @application_history %>
</div>


    

