<div class="ui stackable grid container">
    
    <div class="ui attached menu">
	<div class="right item">
	    <div class="ui fluid search">
		<div class="ui labeled icon input">
		    <%= text_field_tag :query, params[:query], class: "prompt", placeholder: 'Search jobs...', style: "border-radius: 0.2em;  width: 45em !important;" %>
		    <i class="inverted circular search link icon"></i>
		    
		</div>
		<div class="results"></div>
	    </div>
	</div>
    </div>
    
<table class="ui very basic padded selectable table">
    <thead>
	<tr>
	    <th> <div class="ui checkbox">
		<input type="checkbox" name="example">
		<label></label>
	    </div> Job Title </th>
	    <th>Date</th>
	    <th>Company Name</th>
	</tr>
    </thead>
    <tbody>
	<% @application_history.each do |item| %>
	<tr>
	    <td class="class="center aligned">
		<div class="ui checkbox">
		    <input type="checkbox" name="example">
		    <label></label>
		</div> <%= link_to item.job.title, job_url(item.job) %>
	    </td>
	    <td class="left aligned" > <%= time_ago_in_words(item.created_at) + ' ago (' + item.created_at.strftime("%d %b, %y")  + ')'%>  </td>
	    <td class="center aligned"> Google </td>
	</tr>
	<% end %>
    </tbody> 
    
</table>


<div style="float: right">
    <%= paginate @application_history %>
</div>

</div>

<script>
 $('.ui.search')
     .search({
	 apiSettings: {
	     url: 'http://localhost:3000/application_history/autocomplete.json?query={query}'
	 },
	 fields: {
	     results : 'items',
	     title   : 'title',
	     url     : 'url'
	 },
	 minCharacters : 1,
	 debug: true
     })
 ;
 
</script>    

