<div class="ui centered stackable grid container">
<table class="ui padded selectable table">
    <thead>
	<tr>
	    <th> <div class="ui checkbox">
		<input type="checkbox" name="example">
		<label></label>
	    </div> Job Title </th>
	    <th>Date</th>
	    <th>Company Name</th>
	</tr>
    </thead>
    <tbody>
	<% @application_history.each do |item| %>
	<tr>
	    <td class="class="center aligned">
		<div class="ui checkbox">
		    <input type="checkbox" name="example">
		    <label></label>
		</div> <%= link_to item.job.title, job_url(item.job) %>
	    </td>
	    <td class="left aligned" > <%= time_ago_in_words(item.created_at) + ' ago (' + item.created_at.strftime("%d %b, %y")  + ')'%>  </td>
	    <td class="center aligned"> Google </td>
	</tr>
	<% end %>
    </tbody> 
    <div style="float: right">
	<%= paginate @application_history %>
    </div>
</table>


<div style="float: right">
    <%= paginate @application_history %>
</div>

</div>

<script>
 $('.ui.search')
     .search({
	 apiSettings: {
	     url: '//localhost:3000/jobs/autocomplete.json?query={query}'
	 },
	 fields: {
	     results : 'items',
	     title   : 'title',
	     url     : 'url'
	 },
	 minCharacters : 1,
	 debug: true
     })
 ;
 
</script>    

