    <div class="ui selection dropdown">
	<i class="dropdown icon"></i>
	<div class="text">Select Posted Job</div>
	<div class="menu">
	    <% @total_jobs.each do |j|  %>
		<%= link_to j.title, applications_path(job_id: j.id), class: 'item' %> 
	    <% end %>
	</div>
    </div>
    
    <button  class="ui icon button">
	<i class="repeat icon"></i>
    </button>
    
    <div class="ui icon input">
	<i class="search icon"></i>
	<input type="text" placeholder="Search...">
    </div>

    <div class="ui stackable fluid five item top attached menu">
	<a class="item">
	    All Applications <div class="ui circular label"> <%= @candidates.count %> </div> 
	</a>
	<a class="item" href="#">
	    <i class="big green checkmark icon"></i> Accepted <div class="ui circular label"> 5 </div>
	</a>
	<a class="item" href="#">
	    <i class="big green checkmark icon"></i> Invite interview <div class="ui circular label"> 5 </div>
	</a>
	<%#= link_to "Accepted", applications_path(job_id: j.id), class: 'item' do %>
	<%#= content_tag(:div, "", class: "ui circular label") do %>
	
	<%# end %>
	<%# end %>
	<a class="item" href="#">
	    <i class="big red remove icon"></i> Rejected <div class="ui circular label"> 7 </div>
	</a>
	<a class="item">
	    <i class="big red remove icon"></i>  Not Requirement <div class="ui circular label"> 3 </div>
	</a>
    </div>
    
