<div class="ui relaxed centered stackable grid container">
  <div class="thirteen wide column">
	    <h2 class="ui violet centered header"> Post New Job </h2>
	    <%= render 'applications/job_form' %>
    </div>
</div>

