<div class="ui padded segment">
  <p> Personal Details </p>
<h3 class="ui blue header">  <%= @personal.jobseeker.firstname + ' ' +  @personal.jobseeker.lastname %> </h3>
  <p> Date of Birth </p> <%= @personal.jobseeker.date_of_birth %>


  <div class="ui divider"> </div>
  <p> Eduacation Details </p>

  <div class="ui divider"> </div>
  <p> Work Experience Details </p>

  
</div>
