    <div class="four  wide column" style="margin-top:150px;">
	<div class="ui secondary vertical menu">
	    <a class="active item">
		Account
	    </a>
	    <a class="item">
		Settings
	    </a>
	    <a class="item">
		Update Education
		<i class="dropdown icon"></i>
	    </a>

	    <a class="item">
		Update Work Experience
		<i class="dropdown icon"></i>
	    </a>

	    <div class="ui dropdown item">
		<i class="dropdown icon"></i>
		Update Profile
		<div class="menu">
		    <div class="header">Text Size</div>
		    <a class="item">Small</a>
		    <a class="item">Medium</a>
		    <a class="item">Large</a>
		</div>
	    </div>
	</div>
    </div>
