<div class="ui fluid container">
    <div class="ui one column grid">

	    <div class="column">
	      <div class="photo autumn" data-stellar-background-ratio="0.5"></div>
	      <div class="photo winter" data-stellar-background-ratio="0.7"></div>
	    </div>
	    
    </div>
</div>
