<div class="ui fluid container" id="landing" style="margin-top: -2em">
    <div class="ui one column grid">

	    <div class="column">
	      <div class="photo winter" data-stellar-background-ratio="0.7"></div>
	    </div>
	    
    </div>
</div>
