<div class="ui very relaxed grid">
    <div class="column">
	<div class="very padded basic segment">
	    For contact and All the other stuffs please call me on this number can
	    And we will be be sure to off you all the prestigious help me can can offer
	</div>
    </div>
</div>
