<div class="ui two column relaxed grid">
    
    <div class="column">
	<div class="ui very padded basic segment">
	    <div class="ui left floated basic segment">
		<i class="brown massive announcement icon"></i>
	    </div>
	    <span class="right floated segment">
		<h3>
		    Hello all this Jobpanda
		    We are commited to shaping the future of the up comming
		    workforce.. 
	 	    We Offer open question and Answeing board for our users to ask career related questions
		    And they get lot of useful Replies and feedback from people that are more experience in those
		    areas.
		</h3>
	    </span>
	</div>
    </div>
    
    <div class="column">
	<div class=" grey column">
	    <div class="ui very padded basic segment">
		<div class="ui left floated basic segment">
		    <i class="brown massive announcement icon"></i>
		</div>
		<span class="right floated segment">
		    <h3 class="ui white header">
			Hello all this Jobpanda
			We are commited to shaping the future of the up comming
			workforce.. 
	 		We Offer open question and Answeing board for our users to ask career related questions
			And they get lot of useful Replies and feedback from people that are more experience in those
			areas.
		    </h3>
		</span>
	    </div>
	</div>
    </div>
    
</div>
