<%# render "welcome/landing_segment" unless jobseeker_signed_in? %>
<div class="ui divided items">
    <% @jobs.each do |j| %>
	<div class="item">
	    <div class="content">
		<%= link_to j.title, welcome_path(j), class: 'header' %>
		<div class="meta">
		    <span class="cinema">IFC Cinema</span>
		</div>
		<div class="description">
		    <p> <%= j.description %> </p>
		</div>
		<div class="extra">
		    <!-- <i class="right chevron icon"></i> -->
		    <%= link_to "View Details", welcome_path(j), class: "ui right floated primary button" %>
		    <div class="ui label">Limited</div>
		    <div class="ui label">IMAX</div>
		    <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
		</div>
	    </div>
	</div>
	<% end %>
	
</div>

<div class="ui text container">
    <div style="padding-top: 60px;">
	 <%= will_paginate @jobs %>
    </div>
</div>



