<div class="ui stackable fluid container">
    <div class="row">
	<div class="column">
	    <%= render 'welcome/landing_segment' %>
	</div>
	<div class="column">
	    Hello world 
	</div>
    </div>

    <div class="row">
	<div class="column">
	    Cool world 
	</div>

	<div class="column">
	    column 2 for row 2
	</div>
    </div>
    
</div>
