<div class="ui stackable fluid container">
    <div class="row">
	<div class="column">
	    <%= render 'welcome/landing_segment' %>
	</div>
	<div class="column">
	    <%= render 'segment_two' %>
	</div>
    </div>

    <div class="row">
	<div class="column">
	    <%= render 'segment_three' %>
	</div>

	<div class="column">
	    <%= render 'segment_four' %>
	</div>
    </div>

</div>
