<div class="ui fluid container">
    <div class="ui one column grid">
	<div class="row">
	    <div class="column">
		
		<div class="photo winter" data-stellar-background-ratio="0.5"><span>Summer</span></div>
		<div class="photo autumn" data-stellar-background-ratio="0.5"><span>Autumn</span></div>
	    </div>
	    
	</div>
    </div>
</div>

<div class="ui container">
<div class="row" id="jobs">
    <%= render 'layouts/search' %>
    <div class="column">
	<h2> New Jobs </h2>

	<div class="ui divided items">
	    <div class="item">
		<div class="content">
		    <a class="header">12 Years a Slave</a>
		    <div class="meta">
			<span class="cinema">Union Square 14</span>
		    </div>
		    <div class="description">
			<p></p>
		    </div>
		    <div class="extra">
			<div class="ui label">IMAX</div>
			<div class="ui label"><i class="globe icon"></i> Additional Languages</div>
		    </div>
		</div>
		<div class="extra">
		    <div class="ui right floated primary button">
			View Details
			<i class="right chevron icon"></i>
		    </div>
		</div>
	    </div>
	    <% @jobs.each do |j| %>
		<div class="item">
		    <div class="content">
			
			<%= link_to j.title, welcome_path(j), class: 'header' %>
			
			<div class="meta">
			    <span class="cinema">IFC Cinema</span>
			</div>
			<div class="description">
			    <p> <%= j.description %> </p>
			</div>
			<div class="extra">
			    <div class="ui right floated primary button">
				<%= link_to "View Details", welcome_path(j) %>
				<i class="right chevron icon"></i>
			    </div>
			    <div class="ui label">Limited</div>
			</div>
		    </div>
		</div>
	    <% end %>
	    
	</div>
	
    </div>
</div>

</div>
   
