
<div class="ui centered stackable grid">
    <div class="four six column">
	<div class="ui raised very padded segment">
	    <h3 class="ui violet header"> Notification Settings </h3>
	    <br /> 
	    <div class="ui checkbox">
		<input type="checkbox" name="example">
		<label>Allow Application Acknowledgement Notification mails from Employers </label>
	    </div>
	    <div class="ui hidden divider"></div>
	    <div class="ui checkbox">
		<input type="checkbox" name="example">
		<label>Allow All Unsucessfull mail Notifications like Regret mails from Employers</label>
	    </div>
	    <div class="ui hidden divider"></div>
	    <div class="ui checkbox">
		<input type="checkbox" name="example">
		<label>Allow Interview Request Mail from Employers </label>
	    </div>
	    
	</div>
    </div>
</div>

