<div class="ui container" style="background-color: white">
    <div class="ui text container">
	<div class="ui padded raised segment"> 
	    <h3 class="header">
		Payment
	    </h3>
	    <i class="big red visa icon"></i>
	    <i class="big orange mastercard icon"></i>
	    <%= render 'payments/payment_form' %>
	</div>
    </div>
</div>
