<p> hello world man </p>

<script>
 $('.segment')
     .api({
	 url: '<%= educations_url(format: :json) %>',
	 onResponse: function(response) {
	     console.log(response);
	     console.log(response[0].school_name);
	     console.log("this is cool");
	     
	     $.each ( response, function(index, value){
		 console.log(value.school_website);
	     });
	     
	 }
	
     })
 ;


 /* $('.ui.modal .header').empty().html(response.title);
    $('.ui.modal .icon.money').empty().html(response.salary);
    $('.ui.modal .icon.marker').empty().html(response.location);
    $('.ui.modal h3').empty().html(response.description);
    $('.ui.modal')
    .modal('show')
    ;*/
</script>


