
<dev class="ui text container">
    <div class="ui very padded teal raised segment">
	<h5 class="ui bheader"> Personal Profile  </h5>
    </div>
    <div class="ui very padded grey raised segment" id="root">
	<p> Education </p>
	<%= render "index" %>
    </div>
    <div class="ui very padded blue raised segment">
	<p> Skills </p>
    </div>
    
    <div class="ui very padded orange raised segment">
	<p> Work Experience </p>
    </div>

    <div class="ui very padded violet raised segment">
	<p> Interest and Memberships </p>
    </div>

    <div class="ui very padded green raised segment">
	<p> About Me </p>
    </div>

</dev>
