<div class="ui centered stackable grid">
    <div class="eight wide column">
	<div class="ui raised very padded segment">
	    <h3 class="ui violet centered header"> Notification Settings </h3>
	    <br /> 
	    <div class="ui toggle checkbox">
		<input type="checkbox" name="example">
		<label>Allow Application Acknowledgement Notification mails from Employers </label>
	    </div>
	    <div class="ui hidden divider"></div>
	    <div class="ui toggle checkbox">
		<input type="checkbox" name="example">
		<label>Allow All Unsucessfull mail Notifications like Regret mails from Employers</label>
	    </div>
	    <div class="ui hidden divider"></div>
	    <div class="ui toggle checkbox">
		<input type="checkbox" name="example" checked="">
		<label>Allow Interview Request Mail from Employers </label>
	    </div>
	    <br />
	    <br />
	    <br />
	    <center> 
		<div class="ui violet button"> Save </div>
	    </center>
	</div>
    </div>
</div>

