<div class="ui text container">
  <div class="ui very padded stacked teal segment" style="border-radius: 0px;">
    <h2 class="ui blue header">Education Update</h2>
    <%= render 'education_form' %>
    </div>
</div>

