
    <button class="ui basic violet button" style="float: right"> Update with Linkedin </button> 
<div class="ui text container">


    <h1>Education Qualifications</h1>
    
    <%= render 'education_form' %>
    <button class="ui basic violet button" style="float: right"> Add Extra Education </button> 
</div>


