<div class="ui text container">
  <div class="ui very padded stacked teal segment">
    <h2 class="ui blue header">Add Education Qualifications</h2>    
    <%= render 'education_form' %>
    </div>
</div>



