<div class="ui container">
<div style="float:right;">
    <div class="ui message" style="background: rgba(76, 175, 80, 0.01); border-radius: 0; width: 200px; z-index: 1; position: absolute; right: 120px; border-color: violet;"> <i class="close icon"></i>
	<p> <%= notice %> </p>
    </div>
<div class="alert"> <%= alert %> </div>
</div>

</div>
