<div class="ui container">
<div style="float:right;">
    <div class="ui message"  style="display:none;" > <i class="close icon"></i>
	<p> <%= notice %> </p>
    </div>
<div class="alert"> <%= alert %> </div>
</div>

</div>
