<div class="ui secondary vertical menu">
    <a class="active item">
	<i class="violet setting icon"></i>
	Account settings
    </a>
    <a class="item">
	Settings
    </a>

    <div class="ui accordion item">
	<div class="title">
	    <i class="dropdown icon"></i>
	    Display Options
	</div>
	<div class="content">
	    <a href="#"> hello world </a>
	</div>
    </div>
    
    <%= link_to application_history_index_path, class: 'item' do  %>
	<i class="violet bar chart icon"></i>
	My Applications
    <% end %>
    
</div>


<script>
 $('.dropdown')
     .dropdown()
 ;

 $('.ui.accordion')
     .accordion()
 ;
</script>
