
<div class="ui secondary vertical menu">
    <!-- <div class="ui raised padded verical segment"> -->
	<%= link_to edit_jobseeker_registration_path, class: 'item' do %>
	    <i class="violet user icon"></i>Account Setup
	<% end %>
	<%= link_to user_profile_path,  class: 'item' do  %>
	    <i class="violet setting icon"></i>Profile
	<% end %>
	<%= link_to jobseeker_notifications_path , class: 'item'  do %>
	    <i class="violet bell icon"></i> Notification Settings    
	<% end %>    
	<%= link_to application_history_index_path, class: 'item' do  %>
	    <i class="violet bar chart icon"></i> Sent Application
	<% end %>
	<!-- </div> -->
</div>


<script>
 $('.dropdown')
     .dropdown()
 ;

 $('.ui.accordion')
     .accordion()
 ;
</script>
