<div class="ui search">
  <div class="ui icon input">
    <input class="prompt" placeholder="Search countries..." type="text" style="border-radius:0px;">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>


