<div class="ui secondary vertical menu " >
    <a class="active item">
	Account
    </a>
    <a class="item">
	Settings
    </a>
    <div class="ui dropdown item">
	<i class="dropdown icon"></i>
	Edit Profile
	<div class="menu">
	    <div class="header">Text Size</div>
	    <a class="item">Small</a>
	    <a class="item">Medium</a>
	    <a class="item">Large</a>
	</div>
    </div>
</div>
